<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <link rel="stylesheet" href="~/Content/MasterStyle.css" />
    <title>@ViewBag.Title - Výdejna nářadí</title>
</head>
<body>
    @RenderBody()
</body>
</html>