@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Správa číselníků";
}
<ul>
    <li>@Html.ActionLink("Nářadí", "Index", "DefiniceNaradi")</li>
    <li>@Html.ActionLink("Dodavatelé", "Dodavatele")</li>
    <li>@Html.ActionLink("Vady", "Vady")</li>
    <li>@Html.ActionLink("Pracoviště", "Pracoviste")</li>
</ul>