<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="database" value="server=localhost; user=postgres; pwd=postgres; database=vydejna"/>
    <add key="prefix" value="http://localhost:61111/"/>
    <add key="multinode" value="false"/>
    <add key="node" value="PRIMARY"/>
  </appSettings>
</configuration>
