<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="database" value="server=localhost; user=postgres; pwd=postgres; database=servicelibtest"/>
    <add key ="prefix" value="http://localhost:61111/"/>
  </appSettings>
</configuration>