<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="OutputCache"/>
      <remove name="Session"/>
      <remove name="WindowsAuthentication"/>
      <remove name="FormsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Profile"/>
      <remove name="ServiceModel"/>
      <remove name="ScriptModule-4.0"/>
    </modules>
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="database" value="server=localhost; user=postgres; pwd=postgres; database=vydejna"/>
    <add key="multinode" value="false"/>
    <add key="node" value="PRIMARY"/>
    <add key="useEmbeddedServer" value="true"/>
    <add key="appBaseUrl" value="http://localhost:64405/"/>
    <add key="api" value="http://localhost:64405/Api/"/>
  </appSettings>
</configuration>
